In [1]:
salary = 90000
type (salary)

int

In [ ]:
job_title = "Data Analyst"
remove_word = "Data"
# final_title = job_title-remove_word
 # 42 nd minute :- https://www.youtube.com/watch?v=wUSDVGivd-8&t=1916s
type (job_title)

print("Data".__add__("Job"))
print('Data' +'Job') # both above and below are same
print(job_title.upper())

DataJob
DataJob
DATA ANALYST

https://www.youtube.com/watch?v=wUSDVGivd-8&t=1916s 
1:05:06 - String Formatting

In [ ]:
# Create the string "Role : Data Analyst"
role = "Data Analyst"
skill = "Python "
print("Role : {}".format(role))

# Create the string "Role : Data Analyst; Skill Required : Python"
print ("Role : {} Skill Required : {}".format(role, skill)) # i feel pretty hard to read

Role : Data Analyst
Role : Data Analyst Skill Required : Python

In [17]:
# F Strings
f"Role : {role} Skill Required : {skill}"

'Role : Data Analyst Skill Required : Python '

In [5]:
#unpacking
job_skills =['python', 'sql', 'excel', 'tableau']
skill1, skill2, skill3, skill4 = job_skills
print(f" Skill Required : {skill1}, {skill2}, {skill3}, {skill4}")
skill_cncerned, *other_skills = job_skills
print(f" Skill Required : {skill_cncerned}, Other Skills : {other_skills}")

 Skill Required : python, sql, excel, tableau
 Skill Required : python, Other Skills : ['sql', 'excel', 'tableau']

In [10]:
# dictionary example
job_type_skills = {
    'Data Analyst' : ['python', 'sql', 'excel', 'tableau'],
    'Data Engineer' : ['python', 'sql', 'spark', 'aws'],
    'Data Scientist' : ['python', 'sql', 'tensorflow', 'pytorch']
}
job_type_skills.values()
job_type_skills.update({'ML Engineer' : 'python'})
print(job_type_skills.keys())
print(job_type_skills.values())

dict_keys(['Data Analyst', 'Data Engineer', 'Data Scientist', 'ML Engineer'])
dict_values([['python', 'sql', 'excel', 'tableau'], ['python', 'sql', 'spark', 'aws'], ['python', 'sql', 'tensorflow', 'pytorch'], 'python'])

Lists
sets
Dictionaries
Tuple

Sets are unique. Sets are unordered. No index available.

Tuple.
Tuple is immutable . Tuple is for fixed data. 
When you append new data, it creates new list or new objects

In [15]:

nag_skills = ('test1','sql','azure','R')
nag_skills
print(id(nag_skills))
new_skills = ('teraaform','docker')
nag_skills = nag_skills + new_skills
nag_skills
print(id(nag_skills))

4609767792
4609537792

range()

In [18]:
tuple(range(5))
tuple(range(5, 20, 2)) # even numbers between 5 and 20

(5, 7, 9, 11, 13, 15, 17, 19)

Logical operators
And
OR
NOT
==
is

Bitwise operators

In [22]:
salary_kelly = 100_000
salary_luke = 100_000
print(salary_kelly == salary_luke)
print(salary_kelly is salary_luke)

True
False

Loops
Dont Repeat Yourself - DRY principle

for loops
wait loops

In [ ]:
for _ in range(100):
    print (_)

numbers =[x for x in range(100)]
numbers

### Built - in functions

In [3]:
data_salaries = [95000, 105000, 115000, 125000]
min(data_salaries)
max(data_salaries)

125000

In [5]:
# Calcdulate total salary
def calculate_total_salary(base_salary, bonus):
    total_salary = base_salary + (base_salary * bonus)
    return total_salary

base_salary = 10000
bonus = 0.1
total_salary = calculate_total_salary(base_salary, bonus)
print(f'Total Salary: {total_salary}')

Total Salary: 11000.0

In [10]:
# Lambda functions
mul_two = lambda x: x*2
mul_two(5)
(lambda x: x*2)(5)

salaries_list = [95000, 105000, 115000, 125000]
total_salaries = [(lambda x: x + (x * 0.1))(salary) for salary in salaries_list]
total_salaries

[104500.0, 115500.0, 126500.0, 137500.0]